CustomerServlet/src/conf/xml-resources/web-service-references/TEMP_Convert_Server/wsdl/localhost_8080/TEMP_Convert_Server/TEMP_Convert_Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://unique.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://unique.com/">

<xs:element name="CelsiusToFah" type="tns:CelsiusToFah"/>

<xs:element name="CelsiusToFahResponse" type="tns:CelsiusToFahResponse"/>

<xs:element name="FahToCelsius" type="tns:FahToCelsius"/>

<xs:element name="FahToCelsiusResponse" type="tns:FahToCelsiusResponse"/>

<xs:complexType name="FahToCelsius">
<xs:sequence>
<xs:element name="temp" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FahToCelsiusResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFah">
<xs:sequence>
<xs:element name="temp" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>